/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #root {
   background-color: #C9C9C9;
 }

.app {

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #FF5B00;
}

.headerButtons {
  font-size: 32px;
  display: flex;
  align-self: flex-end;
  margin: 15px;
}

input[type=submit] {
  font-family: Quattrocento Sans;
  font-weight: bold;
  padding:10px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  border
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 0px;
}

.logoutButton {
  margin: 0px 15px;
}

.uploadButton {
  margin: 0px 15px;
}

.logo {
  align-self: flex-start;
  margin: 15px 5px 5px 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('http://clipartion.com/wp-content/uploads/2015/12/thunder-cloud-icon.png');
  align-self: flex-start;
  height: 40px;
  width: 50px;
  padding: 2px;
  text-align: center
}

.logo:hover {
  cursor: pointer;
}

.imageBanner {
  color: #FF5B00;
  text-align: center;
  line-height: 100%;
  width: 900px;
  background-color: #c9c9c9;
  height: 500px;
  background: url("https://images.unsplash.com/photo-1431069767777-c37892aa0a07?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0f9206053a31ff2b647db8ae1ea91bc3") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
