/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-family: Quattrocento Sans;
   background-color: white;
   color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }


 input[type=submit] {
   font-family: Quattrocento Sans;
   font-weight: bold;
   padding:10px 15px;
   border:0 none;
   cursor:pointer;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid black;
   margin-bottom: 0px;
 }

 input[type=text] {
   width: 100%;
   font-family: Quattrocento Sans;
   font-size: 16px;
   padding: 10px 0;
 }

 input[type=password] {
   width: 100%;
   font-size: 16px;
   padding: 10px 0;
 }

 #root {
   background-color: #FFFFFF;
   width: 100%;
   height: 100%;
 }

.appName {
  position: fixed;
  width: 100%;
  text-align: center;
  /*font-family: 'Kaushan Script', cursive;*/
  font-family: Courgette;
  font-size: 36px;
  color: white;
  top: 10px;
  margin: 0 auto;
  z-index: 3;
  pointer-events: none;
  transition: all 1s ease 0s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background: linear-gradient(to bottom right, #592000, #FF5B00);
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: linear-gradient(to bottom right, #592000, #FF5B00);
  bottom: 0px;
  width: 100%;
  height: 40px;
}

.footerDisplay {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.footerArtist {
  transition: all .5s ease 0s;
}

.footerArtist:hover {
  cursor: pointer;
  color: #000000;
 text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.headerButtons {
  font-size: 32px;
  display: flex;
  align-self: flex-end;
  margin: 15px 15px;
  justify-content: space-around;
  width: 150px;
}

.logoutButton {
  transition: all .5s ease 0s;
  height: 30px;
  width: 30px;
}

.logoutWrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease 0s;
}

.logoutWrapper:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(149, 32, 0, .75);
  box-shadow: 0px 0px 5px 5px rgba(149, 32, 0, .75);
}

.uploadButton {
  height: 30px;
  width: 30px;
}

.uploadWrapper:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(20, 204, 96, .75);
  box-shadow: 0px 0px 5px 5px rgba(20, 204, 96, .75);
}

.uploadWrapper {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .5s ease 0s;
}

.profileButton {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 35px;
  width: 35px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  transition: all .5s ease 0s;
}

.profileButton:hover {
  cursor: pointer;
  opacity: .8;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
}

.logo {
  height: 40px;
  width: 50px;
  text-align: center;
}

.logoWrapper {
  align-self: flex-start;
  height: 50px;
  width: 60px;
  margin: 10px;
  transition: all .5s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.logoWrapper:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(150, 150, 150, .75);
  box-shadow: 0px 0px 5px 5px rgba(150, 150, 150, .75);
}

.imageBanner {
  color: #FF5B00;
  text-align: center;
  line-height: 100%;
  width: 100%;
  background-color: #c9c9c9;
  height: 500px;
  background: url("https://images.unsplash.com/photo-1431069767777-c37892aa0a07?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0f9206053a31ff2b647db8ae1ea91bc3") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  -moz-box-shadow: 3px 3px 3px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px 3px rgba(0,0,0,.5);
}

.indices {
  display: flex;
}

.exploreIndex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.exploreArtistTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin-top: 20px;
}

.exploreSongTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin-top: 20px;
  border-right: 1px solid black
}

.exploreArtistItem {
  opacity: 0.4;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to bottom right, #3D7899, #592000);
  margin: 10px;
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  text-overflow: ellipsis;
  transition: all 1s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.exploreArtistItem:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
}
