// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artistProfile {
  width: 100%;
  height: 600px;
  background: url("http://res.cloudinary.com/dzyfczxnr/image/upload/v1457979497/artist_bg_jxxpxe.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 69px 0px 100px 0px;
}

.artistDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: .9;
  background: linear-gradient(to bottom left, #592000, #3D7899);
}

.artistTitleDisplay {
  font-size: 30px;
  margin: 20px 0;
}

.artistSongIndex {
  width: 500px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.artistPicWrapper {
  margin-left: 50px;
  display: flex;
  align-self: baseline;
}

.artistContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.artistPic {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}
