
.aboutModal {
  padding: 20px;
}

.aboutHeader {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100%;
}

.aboutTitle {
  font-size: 30px;
  margin-bottom: 10px;
}

.aboutHeaderWrapper {
  width: 100%;
}

.aboutDescriptions {
  display: flex;
  margin-top: 10px;
}

.aboutExplanation {
  margin-left: 10px;
}

.userAboutWrapper {
  width: 100%;
  text-align: center;
}
