// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-family: Quattrocento Sans;
  font-style: italic;
  background-color: #FFFFFF;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
  width: 100%;
  height: 50px;
}

body {
  margin: 0 auto;
  height: 100%;
  border-radius: 15px;
}

#welcome {
  // width: 900px;
  background: url("https://images.unsplash.com/photo-1447774105426-9d78ea5204cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=77876bba6df8037cf7bf9396e53bd95f") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background-image: url("https://images.unsplash.com/photo-1447774105426-9d78ea5204cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=77876bba6df8037cf7bf9396e53bd95f");
  margin: 0 auto;
  height: 100%;
}

#welcome::before {
  opacity: 0.5;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 15px;
}

.tab {
  font-size: 24px;
  color: white;
  margin: 30px 30px 60px 30px;
  text-align: center;
  width: 100px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 2px;
  background-color: #FF5B00;
}

.tab:hover {
  cursor: pointer;
  background-color: #993600
}

.tab.selected {
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 3px solid white;
}

.tab.notSelected {

}

.userForms {
  width: 500px;
  margin: 0 auto;
  padding: 100px 0px 500px 0px;
}

.forms {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
}

.signForm {
  display: flex;
  flex-direction: column;

}

.input {
  border-radius: 2px;
  width: 250px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.formLabel {
  width: 250px;
}

.submitButton {
  font-family: Quattrocento Sans;
  font-style: italic;
  background-color: #FF5B00;
  font-size: 16px;
  color: #FFFFFF;
  width: 80px;
  margin: 0 auto;
  border-radius: 2px;
  border: 1px solid black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #993600;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
