

.songControls {
  width: 400px;
  background: linear-gradient(to top right, #4E4C4C, #EEEEEE);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 5px;
  margin: 5px;
}

.songButton {
  width: 60px;
  height: 30px;
  margin-left: 15px;
  margin-top: 70px;
  text-align: center;
  line-height: 100%;
  font-size: 12px;
  border-radius: 5px;
  background-color: #949DBB;
}

.footerSongButton {
  width: 60px;
  height: 30px;
  margin-left: 15px;
  text-align: center;
  line-height: 100%;
  font-size: 12px;
  border-radius: 5px;
  background-color: #949DBB;
}

.songButton:hover {
  cursor: pointer;
}
