// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songForm {
  align-self: center;
}

.songIndex {
  display: flex;
  margin: 0 auto;
  width: 900px;
  background-color: #c9c9c9;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.songIndexItem {
  width: 100px;
  height: 100px;
  background-color: #00A4FF;
  margin: 10px;
}

.songIndexItem:hover {
  cursor: pointer;
  background-color: #006299;
}

.indexTitle {
  width: 80%;
  padding-top: 10px;
  border-top: 1px solid black;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
