// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

audio {
  width: 500px;
  margin-top: 75px;
}

audio:hover {
  cursor: pointer;
}

.songDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, #592000, #3D7899);
}

.songArtist {
  margin-top: 75px;
  margin-left: 15px;
}

.songForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 100px;
  width: 300px;
  margin: 100px auto;
}

.songFormBanner {
  width: 100%;
  background: url("https://images.unsplash.com/photo-1453906971074-ce568cccbc63?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=381fb31fe6b888aed685b1a5ece3da3f") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.songIndex {
  display: flex;
  margin: 0 auto;
  width: 900px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.songIndexItem {
  opacity: 0.4;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom right, #592000, #3D7899);
  margin: 10px;
  border-radius: 5px;
  text-align: bottom;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.songIndexItem:hover {
  // background: linear-gradient(to bottom right, #3D7899, #592000);
  opacity: 1;
  cursor: pointer;
}

.indexTitle {
  width: 80%;
  padding-top: 10px;
  border-top: 1px solid black;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.songTitleDisplay {
  font-size: 30px;
  margin: 100px 20px 20px;
}

.songTitleForm {
  margin-top: 20px;
}

.audioUploadButton {
  margin: 10px auto;
  width: 100px;
  height: 30px;
}

.uploadFormButton {
  background-color: #14CC60;
  margin-top: 15px;
  width: 100%;
}

.uploadFormButton:hover {
  background-color: #12B756;
}
