// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

audio {
  width: 500px;
  margin-top: 75px;
}

audio:hover {
  cursor: pointer;
}

.songDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: .9;
  background: linear-gradient(to bottom left, #592000, #3D7899);
}

.songArtist {
  transition: all .5s ease 0s;
  font-size: 15px;
  margin-top: 3px;
}

.songArtist:hover {
  cursor: pointer;
  transform: scale(1);
  font-size: 18px;
}

.songFormTitle {
  font-size: 20px;
}

.songFormEntries {
  width: 100%;
  text-align: center;
}

.songForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 600px;
  margin: 20px auto;
}

.songIndexItem {
  opacity: 0.8;
  width: 100px;
  height: 150px;
  line-height: 25px;
  background: linear-gradient(to bottom right, #592000, #3D7899);
  margin: 10px;
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-overflow: ellipsis;
  transition: all 1s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px 0 20px;
}

.songIndexItem:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
}

.songPic {
  width: 100px;
  height: 100px;
}

.indexTitle {
  width: 80%;
  padding-top: 10px;
  border-top: 1px solid black;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.songTitleDisplay {
  font-size: 30px;
  margin: 20px 0;
}

.songTitleForm {
  margin-top: 20px;
}

.audioUploadButton {
  margin: 10px auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.uploadFormButton {
  background-color: #14CC60;
  margin-top: 15px;
  width: 100%;
  color: black;
  height: 40px;
  font-size: 20px;
  font-family: Poiret One;
  border-radius: 5px;
}

.uploadFormButton:hover {
  cursor: pointer;
  background-color: #12B756;
}

.songProfile {
  width: 100%;
  height: 600px;
  background: url("http://res.cloudinary.com/dzyfczxnr/image/upload/v1457979662/song_bg_h2c5qw.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 69px 0px 100px 0px;
}

.lyrics {
  height: 40px;
  width: 120px;
  background: blue;
  border-radius: 15px;
  margin: 50px auto;
}
