

.songControls {
  width: 400px;
  background: linear-gradient(to top right, #4E4C4C, #EEEEEE);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 5px;
  margin: 5px;
}

.songButton {
  width: 45px;
  height: 45px;
  margin: 5px 0 0 15px;
  text-align: center;
  line-height: 100%;
  font-size: 12px;
  transition: all .3s ease 0s;
}

.footerSongButton {
  width: 30px;
  height: 30px;
  margin: 0 0 0 15px;
  text-align: center;
  line-height: 100%;
  font-size: 12px;
  transition: all .3s ease 0s;
}

.songButton:hover {
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
}

.footerSongButton:hover {
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
}
