// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

audio {
  width: 500px;
  margin-top: 75px;
}

audio:hover {
  cursor: pointer;
}

.songDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: .9;
  background: linear-gradient(to bottom left, #592000, #3D7899);
}

.songArtist {
  transition: all .5s ease 0s;
  font-size: 15px;
  margin-top: 3px;
}

.songArtist:hover {
  cursor: pointer;
  transform: scale(1);
  font-size: 18px;
}

.songForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 300px;
  margin: 20px auto;
}

.songFormBanner {
  width: 100%;
  background: url("https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca5701e0f1e03876b6bd3477a2390f7f") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 69px 0px 10px 0px;
}

.songIndexItem {
  opacity: 0.4;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to bottom right, #592000, #3D7899);
  margin: 10px;
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  text-overflow: ellipsis;
  transition: all 1s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.songIndexItem:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
}

.indexTitle {
  width: 80%;
  padding-top: 10px;
  border-top: 1px solid black;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.songTitleDisplay {
  font-size: 30px;
  margin: 20px 0;
}

.songTitleForm {
  margin-top: 20px;
}

.audioUploadButton {
  margin: 10px auto;
  width: 100px;
  height: 30px;
}

.uploadFormButton {
  background-color: #14CC60;
  margin-top: 15px;
  width: 100%;
}

.uploadFormButton:hover {
  background-color: #12B756;
}

.songProfile {
  width: 100%;
  height: 600px;
  background: url("https://images.unsplash.com/5/unsplash-kitsune-4.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d229e68d587bc1201d35e234804d4006") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 69px 0px 300px 0px;
}

.lyrics {
  height: 40px;
  width: 120px;
  background: blue;
  border-radius: 15px;
  margin: 50px auto;
}
