

#userProfile {
  width: 300px;
  margin-top: 69px;
  height: 250px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10%;
  background: linear-gradient(to bottom left, #592000, #3D7899);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 1px 2px 3px 3px rgba(0,0,0,.5);
}

.userPage {
  display: flex;
  flex-direction: row;
  background: url("https://images.unsplash.com/photo-1454540723233-f0b9ff08b132?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3155861462fd28c354283568a84d2ba8") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 300px;
}

.updateUserButton {
  height: 120px;
  width: 120px;
  margin-bottom: 70px;
  margin-top: 15px;
  background-color: #FFFFFF;
  border: 3px solid black;
  transition: all .5s ease 0s;
}

.updateUserButton:hover {
  cursor: pointer;
  background-color: #C9C9C9;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
}

.welcomeProfileMessage {
  margin-top: 10px;
}

.uploadedListTitle {
  width: 100%;
  margin: 30px 0 15px 70px;
}

.followedListTitle {
  width: 100%;
  margin: 10px;
  font-size: 24px;
}

.followListItemInfo {
  margin-left: 40px;
}

.followedSongList {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 75px;
  height: 600px;
}

.userFollowListItem {
  display: flex;
  opacity: .4;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  background: linear-gradient(to bottom right, #592000, #FF5B00);
  transition: all 1s ease 0s;
}

.userFollowListItem:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
}

.userSongList {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 24px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  margin: 20px;
  margin-bottom: 100px;
}

.userSongListItem {
  opacity: .4;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(to bottom right, #592000, #FF5B00);
  transition: all 1s ease 0s;
}

.userSongListItem:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
}

.songListItemInfo {
  margin-left: 15px;
}

.followButton {
  height: 40px;
  width: 40px;
  margin-top: 7px;
  margin-right: 5px;
  transition: all 1s ease 0s;
  border-radius: 50%;
}

.followButton:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .75);
  opacity: .8
}

.userDisplay {
  height: 30px;
  width: 60px;
  background: red;
}

.songManipulators {
  display: flex;
  justify-content: center;
}
