

#userProfile {
  width: 300px;
  margin-top: 64px;
  background-color: blue;
  height: 80px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, #592000, #3D7899);
}

.userProfile{
  display: flex;
  width: 300px;
  flex-direction: column;
}

.profilePicture {
  width: 150px;
  margin: 0 75px;
}

.userPage {
  display: flex;
  flex-direction: row;
}

.updateUserButton {
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
}

.userSongList {
  font-size: 24px;
  font-weight: bold;
  width: 500px;
  margin: 100px 20px;
  margin-bottom: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.userSongListItem {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(to bottom right, #592000, #FF5B00);
}

.songListArtist {
  font-size: 16px;
  font-weight: normal;
}

.updateUserForm {

}
