

#userProfile {
  width: 300px;
  margin-top: 69px;
  height: 250px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  background: linear-gradient(to bottom left, #592000, #3D7899);
}

.userPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url("https://images.unsplash.com/photo-1454540723233-f0b9ff08b132?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3155861462fd28c354283568a84d2ba8") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 300px;
}

.profilePicture {
  width: 150px;
  height: 150px;
  background-position: center;
  margin: 0 75px 10px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: white;
}

.updateUserButton {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
}

.welcomeProfileMessage {
  margin-top: 10px;
}

.uploadedListTitle {
  width: 100%;
  margin-left: 30px;
}

.followedSongList {
  margin-top: 100px;
  width: 400px;
  margin-right: 400px;
}

.userSongList {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 24px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  margin: 20px;
  margin-bottom: 100px;
  align-items: center;
  flex-direction: column;
}

.userSongListItem {
  opacity: .6;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 250px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(to bottom right, #592000, #FF5B00);
}

.userSongListItem:hover {
  opacity: 1;
}

.songListArtist {
  font-size: 16px;
  font-weight: normal;
}

.updateUserForm {

}
